/*
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
*/

#demoBar {
	color: #fff;
	background-color: #000;
	height: 50px;
}

#demoBar form {
	padding-top: 14px;
	text-align: center;
}

#demoBar form select {
	display: inline;
	width: 130px;
}

#demoBar #shapeSelector {
	width: 90px;
	margin-left: 12px;
}

#demoBar form select:first-child {
	margin-right: 12px;
}

#demoBar a, #demoBar a:visited {
	color: #fff;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0;
	padding-left: 12px;
	text-shadow: none;
}

#demoBar a:hover, a:active, a:focus {
	color: #bbb;
	text-shadow: none;
}

#demoBar #demoBarClose {
	position: absolute;
	top: 16px;
	right: 16px;
}

#demoBar #demoBarClose img {
	border: 1px solid #888;
}

@media only screen and (max-width: 767px) {
		
	#demoBar {
		/*display: none;*/
	}
	
}