/*
+---------------------------------------------------------------------+
|                                                                     |
|                ____                _ _      _ _                     |
|               |  _ \ ___  __ _  __| | | __ (_) |_                   |
|               | |_) / _ \/ _` |/ _` | |/ / | | __|                  |
|               |  _ <  __/ (_| | (_| |   < _| | |_                   |
|               |_| \_\___|\__,_|\__,_|_|\_(_)_|\__|                  |
|                                                                     |                                     
| URL:                                                                |
| VERSION: 0.0.1                                                      |
| GITHUB:                                                             |
| AUTHOR: Jason Darwin (@nzmebooks)                                   |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
@font-face {
  font-family: "Source Sans Pro";
  src: local("SourceSansPro-Regular"), url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("SourceSansPro-Bold"), url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("SourceSansPro-It"), url('../fonts/SourceSansPro/SourceSansPro-It.woff') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("SourceSansPro-BoldIt"), url('../fonts/SourceSansPro/SourceSansPro-BoldIt.woff') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-Regular"), url('../fonts/Lora/Lora.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-Bold"), url('../fonts/Lora/Lora-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-Italic"), url('../fonts/Lora/Lora-Italic.woff') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-BoldItalic"), url('../fonts/Lora/Lora-BoldItalic.woff') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* line 68, ../sass/partials/_custom.scss */
.readkit-margins {
  margin: 0 20px;
}

/* line 78, ../sass/partials/_custom.scss */
.readkit-page {
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
  height: 100%;
}

/* line 84, ../sass/partials/_custom.scss */
#readkit-pageWrapper {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

/* line 95, ../sass/partials/_custom.scss */
.readkit-wrapper {
  position: relative;
  height: 100%;
  /* The next two lines allow for an "overlap" when scrolling a page vertically */
  top: 20px;
  overflow: visible !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 108, ../sass/partials/_custom.scss */
.readkit-wrapper-bookmarks {
  position: absolute;
  top: 40px;
  left: 10px;
  right: 10px;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

/* line 118, ../sass/partials/_custom.scss */
.readkit-scroller {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  z-index: 1;
}

/* line 132, ../sass/partials/_custom.scss */
.readkit-header {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin-top: 0;
  background-color: #e6e7e8;
  z-index: 2;
}

/* line 143, ../sass/partials/_custom.scss */
.readkit-controls {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  -webkit-user-select: none;
}

/* line 150, ../sass/partials/_custom.scss */
.readkit-slider, .readkit-slider span, label i, span.icon, span i {
  font-size: 16px;
}

/* line 154, ../sass/partials/_custom.scss */
.readkit-size, .readkit-lh {
  float: left;
  margin-right: 10px;
}

/* line 159, ../sass/partials/_custom.scss */
.readkit-dropdown {
  position: absolute;
  top: 35px;
  margin-top: 5px;
  background-color: #444444;
  border-radius: 12px;
  a: link;
  a-color: white;
  a: visited;
  a-color: #bbbbbb;
}

/* line 175, ../sass/partials/_custom.scss */
#readkit-dropdown-size, #readkit-dropdown-lineheight {
  left: 30px;
  height: 60px;
  width: 116px;
}

/* line 181, ../sass/partials/_custom.scss */
#readkit-dropdown-bookmark {
  height: 380px;
  width: 280px;
  right: 10px;
  color: white;
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
/* line 189, ../sass/partials/_custom.scss */
#readkit-dropdown-bookmark a {
  font-size: 12px;
}

/* line 194, ../sass/partials/_custom.scss */
.readkit-small {
  left: 10px;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  margin-top: -13px;
}
/* line 201, ../sass/partials/_custom.scss */
.readkit-small i:before {
  font-size: 12px;
  line-height: 1.6em;
}

/* line 207, ../sass/partials/_custom.scss */
.readkit-medium {
  left: 38px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-top: -13px;
}
/* line 214, ../sass/partials/_custom.scss */
.readkit-medium i:before {
  font-size: 16px;
  line-height: 1.6em;
}

/* line 221, ../sass/partials/_custom.scss */
.readkit-large {
  left: 72px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-top: -13px;
}
/* line 228, ../sass/partials/_custom.scss */
.readkit-large i:before {
  font-size: 20px;
  line-height: 1.6em;
}

/* line 234, ../sass/partials/_custom.scss */
.readkit-font {
  display: inline-block;
  margin-top: -6px;
  font-size: 18px;
}

/* line 240, ../sass/partials/_custom.scss */
.readkit-back {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 246, ../sass/partials/_custom.scss */
.readkit-status {
  float: right;
  cursor: default;
}

/* line 251, ../sass/partials/_custom.scss */
.readkit-bookmark {
  float: right;
  cursor: hand;
  cursor: pointer;
}

/* line 257, ../sass/partials/_custom.scss */
#readkit-bookmark-input {
  width: 242px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 265, ../sass/partials/_custom.scss */
.readkit-bookmark-title {
  float: left;
  width: 240px;
  margin-top: 5px;
  margin-left: 5px;
}

/* line 272, ../sass/partials/_custom.scss */
.readkit-bookmark-input {
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #444444;
  z-index: 2;
}

/* line 281, ../sass/partials/_custom.scss */
.readkit-bookmark-list-item {
  float: left;
}

/* line 286, ../sass/partials/_custom.scss */
#readkit-bookmark-widget a:hover, #readkit-bookmark-widget a:active, #readkit-bookmark-widget a:focus {
  color: white;
}
/* line 290, ../sass/partials/_custom.scss */
#readkit-bookmark-widget a, #readkit-bookmark-widget a:visited {
  color: #bbbbbb;
}
/* line 294, ../sass/partials/_custom.scss */
#readkit-bookmark-widget li {
  margin-bottom: 0;
}
/* line 298, ../sass/partials/_custom.scss */
#readkit-bookmark-widget hr {
  margin-bottom: 0.5rem;
}

/* line 303, ../sass/partials/_custom.scss */
img {
  max-width: 100%;
}

/* line 307, ../sass/partials/_custom.scss */
pre {
  overflow: auto;
}

/* line 311, ../sass/partials/_custom.scss */
#readkit-sitePreloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 2;
}

/* Preloader GIF created with http://preloaders.net */
/* line 322, ../sass/partials/_custom.scss */
#readkit-preloaderImage {
  width: 50px;
  margin: 200px auto;
}

/* line 333, ../sass/partials/_custom.scss */
[class^="readkit-strength-"], [class*=" readkit-strength-"] {
  position: absolute;
  top: 50%;
  float: left;
  margin-right: 0;
  cursor: hand;
  cursor: pointer;
  text-align: center;
}

/* line 343, ../sass/partials/_custom.scss */
.readkit-icon {
  color: #ffffff;
  margin-top: 5px;
  display: inline-block;
  height: 24px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  background: black;
  padding-top: 6px;
  line-height: 30px;
  cursor: hand;
  cursor: pointer;
}
/* line 357, ../sass/partials/_custom.scss */
.readkit-icon .readkit-serif, .readkit-icon .readkit-sans {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 363, ../sass/partials/_custom.scss */
.readkit-online, .readkit-active {
  background-color: #56a2d3;
}

/* line 367, ../sass/partials/_custom.scss */
.readkit-offline, .readkit-inactive {
  background-color: #bcbec0;
}

/* line 371, ../sass/partials/_custom.scss */
.readkit-icon-sans {
  font-family: Arial;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

/* line 378, ../sass/partials/_custom.scss */
.readkit-icon-serif {
  font-family: Georgia;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

/* line 385, ../sass/partials/_custom.scss */
.readkit-sans {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

/* line 389, ../sass/partials/_custom.scss */
.readkit-serif {
  font-family: "Lora", Georgia, serif;
}

/* line 393, ../sass/partials/_custom.scss */
.readkit-bookmark-icon {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  padding-top: 0;
}

/* line 400, ../sass/partials/_custom.scss */
.readkit-bookmark-icon {
  font-size: 24px;
  color: #56a2d3;
}

/* line 405, ../sass/partials/_custom.scss */
.readkit-bookmark-icon-add {
  float: right;
  margin-top: 2px;
}

/* line 410, ../sass/partials/_custom.scss */
.readkit-bookmark-icon-remove {
  float: left;
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 424, ../sass/partials/_custom.scss */
  .readkit-header {
    top: 0;
    -webkit-user-select: none;
  }

  /* line 428, ../sass/partials/_custom.scss */
  .readkit-slider {
    width: 30px;
  }
}
/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 437, ../sass/partials/_custom.scss */
  .readkit-header {
    top: 0;
    -webkit-user-select: none;
  }

  /* line 441, ../sass/partials/_custom.scss */
  .readkit-slider {
    width: 30px;
  }
}
/* iPad in portrait & landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Accomodate status bar */
  /* line 451, ../sass/partials/_custom.scss */
  .readkit-header {
    top: 0;
    -webkit-user-select: none;
  }
}
/* Desktop */
@media only screen {
  /* line 459, ../sass/partials/_custom.scss */
  .readkit-header {
    top: 0;
  }
}
/* Phone */
@media (max-device-width: 240px) {
  /* line 466, ../sass/partials/_custom.scss */
  .readkit-serif, .readkit-sans {
    display: none;
  }
}
/* line 15, ../sass/partials/_drag_and_drop.scss */
#readkit-epub-drag-upload {
  border: 4px dotted #bcbec0;
  height: 40%;
  margin: 2em;
  padding: 1em;
}

/* line 22, ../sass/partials/_drag_and_drop.scss */
#readkit-epub-drag-upload p {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

/* line 28, ../sass/partials/_drag_and_drop.scss */
.readkit-epub-drag-upload-label {
  font-family: Arial;
  opacity: 0.2;
}

/* line 33, ../sass/partials/_drag_and_drop.scss */
.readkit-drag-upload-spinner {
  text-align: center;
  margin: auto;
  opacity: 0;
}

/* line 39, ../sass/partials/_drag_and_drop.scss */
#readkit-drag-upload-window {
  width: 80%;
  margin: 40px 10% 0;
}

/* line 44, ../sass/partials/_drag_and_drop.scss */
.readkit-drag-upload-window {
  display: none;
  position: absolute;
  top: 0;
  z-index: 150;
  padding-bottom: 20px;
  background-color: #e6e7e8;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5), inset 4px 6px 13px #e6e7e8;
  margin: auto;
  font-family: sans-serif;
}

/* line 63, ../sass/partials/_drag_and_drop.scss */
.readkit-epub-drag-upload {
  padding: 14px 30px 13px 35px;
}

/* line 67, ../sass/partials/_drag_and_drop.scss */
.loading {
  opacity: 0.2;
}

/* Progress bars: http://css-tricks.com/css3-progress-bars/ */
/* line 72, ../sass/partials/_drag_and_drop.scss */
.readkit-meter {
  display: block;
  height: 20px;
  position: relative;
  margin: auto 2em;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/* Progress bar fill */
/* line 88, ../sass/partials/_drag_and_drop.scss */
.readkit-meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
  background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: -ms-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

/* Candy-striping */
/* line 142, ../sass/partials/_drag_and_drop.scss */
.readkit-meter > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

@-webkit-keyframes move {
  /* line 220, ../sass/partials/_drag_and_drop.scss */
  0% {
    background-position: 0 0;
  }

  /* line 223, ../sass/partials/_drag_and_drop.scss */
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes move {
  /* line 229, ../sass/partials/_drag_and_drop.scss */
  0% {
    background-position: 0 0;
  }

  /* line 232, ../sass/partials/_drag_and_drop.scss */
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-animation expandWidth {
  /* line 238, ../sass/partials/_drag_and_drop.scss */
  0% {
    width: 0;
  }

  /*   100% { width: auto; } */
}

/* line 241, ../sass/partials/_drag_and_drop.scss */
.readkit-meter > span:after {
  -webkit-animation: move 2s linear infinite;
}

/* line 245, ../sass/partials/_drag_and_drop.scss */
.readkit-cancel {
  font-size: 18px;
}

/* line 249, ../sass/partials/_drag_and_drop.scss */
.readkit-cancel_upload {
  float: right;
  cursor: pointer;
  margin-right: 5px;
}
