/*===================================================================================================
1) @font-face definitions
===================================================================================================*/
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), url(../fonts/Lora/Lora.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(../fonts/Lora/Lora-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(../fonts/Lora/Lora-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(../fonts/Lora/Lora-BoldItalic.woff) format('woff');
}

/*===================================================================================================
2) Styles
===================================================================================================*/

p, li {
	font-size: 1.1rem;
	font-family: "Lora", Georgia, serif;
	font-weight: normal;
    font-style: normal;
	line-height: 1.6;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

blockquote, blockquote p {
	font-family: "Lora", Georgia, serif;
	font-weight: normal;
    font-style: italic;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

blockquote cite {
	font-family: "Lora", Georgia, serif;
	font-weight: bold;
    font-style: normal;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lora", Georgia, serif !important;
	font-weight: bold;
	letter-spacing: -0.02em;
	text-transform: none;
}

