/*
+---------------------------------------------------------------------+
|                                                                     |
|                ____                _ _      _ _                     |
|               |  _ \ ___  __ _  __| | | __ (_) |_                   |
|               | |_) / _ \/ _` |/ _` | |/ / | | __|                  |
|               |  _ <  __/ (_| | (_| |   < _| | |_                   |
|               |_| \_\___|\__,_|\__,_|_|\_(_)_|\__|                  |
|                                                                     |                                     
| URL:                                                                |
| VERSION: 0.0.1                                                      |
| GITHUB:                                                             |
| AUTHOR: Jason Darwin (@nzmebooks)                                   |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
/* line 58, ../sass/styles.scss */
.readkit-margins {
  margin: 0 20px;
}

/* iPhone 2G-4S in portrait & landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 72, ../sass/styles.scss */
  .readkit-header {
    top: 0;
    -webkit-user-select: none;
  }

  /* line 76, ../sass/styles.scss */
  .readkit-slider {
    width: 30px;
  }
}
/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 85, ../sass/styles.scss */
  .readkit-header {
    top: 0;
    -webkit-user-select: none;
  }

  /* line 89, ../sass/styles.scss */
  .readkit-slider {
    width: 30px;
  }
}
/* iPad in portrait & landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Accomodate status bar */
  /* line 99, ../sass/styles.scss */
  .readkit-header {
    top: 0;
    -webkit-user-select: none;
  }
}
/* Desktop */
@media only screen {
  /* line 107, ../sass/styles.scss */
  .readkit-header {
    top: 0;
  }
}
/* line 119, ../sass/styles.scss */
.readkit-page {
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
  height: 100%;
}

/* line 125, ../sass/styles.scss */
#readkit-pageWrapper {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}

/* line 136, ../sass/styles.scss */
.readkit-wrapper {
  /* Firefox *almost* works if we comment out the next line  and use height: 100%; instead */
  position: absolute;
  /* The next two lines allow for an "overlap" when scrolling a page vertically */
  top: 20px;
  overflow: visible !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 149, ../sass/styles.scss */
.readkit-wrapper-bookmarks {
  position: absolute;
  top: 40px;
  left: 10px;
  right: 10px;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

/* line 159, ../sass/styles.scss */
.readkit-scroller {
  /* Firefox *almost* works if we comment out the next line */
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  z-index: 1;
}

/* line 174, ../sass/styles.scss */
.readkit-header {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin-top: 0;
  background-color: #e6e7e8;
  z-index: 2;
}

/* line 185, ../sass/styles.scss */
.readkit-controls {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  -webkit-user-select: none;
}

/* line 192, ../sass/styles.scss */
.readkit-slider, .readkit-slider span, label i, span.icon, span i {
  font-size: 16px;
}

/* line 196, ../sass/styles.scss */
.readkit-size, .readkit-lh {
  float: left;
  margin-right: 10px;
}

/* line 201, ../sass/styles.scss */
.readkit-dropdown {
  position: absolute;
  top: 35px;
  margin-top: 5px;
  background-color: #444444;
  border-radius: 12px;
  a: link;
  a-color: white;
  a: visited;
  a-color: #bbbbbb;
}

/* line 217, ../sass/styles.scss */
#readkit-dropdown-size, #readkit-dropdown-lineheight {
  left: 30px;
  height: 60px;
  width: 116px;
}

/* line 223, ../sass/styles.scss */
#readkit-dropdown-bookmark {
  height: 380px;
  width: 280px;
  right: 10px;
  color: white;
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
/* line 231, ../sass/styles.scss */
#readkit-dropdown-bookmark a {
  font-size: 12px;
}

/* line 236, ../sass/styles.scss */
.readkit-small {
  left: 10px;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  margin-top: -13px;
}
/* line 243, ../sass/styles.scss */
.readkit-small i:before {
  font-size: 12px;
  line-height: 1.6em;
}

/* line 249, ../sass/styles.scss */
.readkit-medium {
  left: 38px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-top: -13px;
}
/* line 256, ../sass/styles.scss */
.readkit-medium i:before {
  font-size: 16px;
  line-height: 1.6em;
}

/* line 263, ../sass/styles.scss */
.readkit-large {
  left: 72px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-top: -13px;
}
/* line 270, ../sass/styles.scss */
.readkit-large i:before {
  font-size: 20px;
  line-height: 1.6em;
}

/* line 276, ../sass/styles.scss */
.readkit-font {
  display: inline-block;
  margin-top: -6px;
  font-size: 18px;
}

/* line 282, ../sass/styles.scss */
.readkit-back {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 288, ../sass/styles.scss */
.readkit-status {
  float: right;
  cursor: default;
}

/* line 293, ../sass/styles.scss */
.readkit-bookmark {
  float: right;
  cursor: hand;
  cursor: pointer;
}

/* line 299, ../sass/styles.scss */
#readkit-bookmark-input {
  width: 250px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 307, ../sass/styles.scss */
.readkit-bookmark-icon {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  padding-top: 0;
}

/* line 315, ../sass/styles.scss */
.readkit-bookmark-icon i[class^="icon-"] {
  border-radius: 12px;
}
/* line 319, ../sass/styles.scss */
.readkit-bookmark-icon i[class^="icon-"]:before {
  line-height: 1.6em;
}

/* line 324, ../sass/styles.scss */
.readkit-bookmark-icon-add {
  float: right;
  margin-top: 2px;
}

/* line 329, ../sass/styles.scss */
.readkit-bookmark-icon-remove {
  float: left;
}

/* line 333, ../sass/styles.scss */
.readkit-bookmark-title {
  float: left;
  width: 248px;
  margin-top: 5px;
}

/* line 339, ../sass/styles.scss */
.readkit-bookmark-input {
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #444444;
  z-index: 2;
}

/* line 348, ../sass/styles.scss */
.readkit-bookmark-list-item {
  float: left;
}

/* line 352, ../sass/styles.scss */
img {
  max-width: 100%;
}

/* line 356, ../sass/styles.scss */
pre {
  overflow: auto;
}

/* line 360, ../sass/styles.scss */
#readkit-sitePreloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 2;
}

/* Preloader GIF created with http://preloaders.net */
/* line 371, ../sass/styles.scss */
#readkit-preloaderImage {
  width: 30px;
  margin: 100px auto;
}

/* line 382, ../sass/styles.scss */
[class^="readkit-strength-"], [class*=" readkit-strength-"] {
  position: absolute;
  top: 50%;
  float: left;
  margin-right: 0;
  cursor: hand;
  cursor: pointer;
  text-align: center;
}

/* line 392, ../sass/styles.scss */
.readkit-icon {
  color: #ffffff;
  margin-top: 5px;
  display: inline-block;
  height: 24px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
  background: black;
  padding-top: 6px;
  line-height: 30px;
  cursor: hand;
  cursor: pointer;
}
/* line 406, ../sass/styles.scss */
.readkit-icon .readkit-serif, .readkit-icon .readkit-sans {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 412, ../sass/styles.scss */
.readkit-online, .readkit-active {
  background-color: #56a2d3;
}

/* line 416, ../sass/styles.scss */
.readkit-offline, .readkit-inactive {
  background-color: #bcbec0;
}

/* line 420, ../sass/styles.scss */
.readkit-sans {
  font-family: Arial;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

/* line 427, ../sass/styles.scss */
.readkit-serif {
  font-family: Georgia;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}
