@charset "UTF-8";

// ==========================================================================//
//
// $Variables
//
// ==========================================================================//

// $Color
// -------------------------------------//

$body-copy-color: #444 !default;
$heading-color: #222 !default;

$button-color: #6194ff !default;
$border-color: #a9c3f9 !default;
$background-color: #f2f2f2 !default;
$callout-background-color: rgba(97, 148, 255, 0.95) !default;

$link-visited: #6194ff !default;
$link-unvisited: #3a5999 !default;

$offline-color: #bcbec0 !default;
$light-color: #fff !default;