/*
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
*/

#sitePreloader { background-color: #000000; } /* Preloader GIF created with http://preloaders.net */
body { background-color: #f0f1eb; }
/*body { background: url("../../images/backgrounds/bg_06.png") repeat; }*/
.thumbnailMask { background-image: url("../../images/masks/f0f1eb_01.png"); }
header { border-color: #86b3b1; }
#logo h1, #logoDetailView h1 { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
#logo h2, #logoDetailView h2 { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
nav ul li a, nav ul li a:visited, nav ul li button { color: #729897; text-shadow: 1px 1px 1px #ffffff; }
.currentPage, button.currentPage:hover { color: #bbd2ce !important; }
nav ul li button:hover, nav ul li button:active, nav ul li button:focus, nav ul li a:hover, nav ul li a:active, nav ul li a:focus, #heroNav a:hover, #heroNav a:visited:hover, #heroNav a:active, #heroNav a:focus, #formSubmit:hover, .contentModule a:hover, .contentModule a:visited:hover, .contentModule a:active, .contentModule a:focus { color: #506b6a; }
hr, .projectInfo h4, .projectNav, .projectInfo, .linedList, .projectInfo li, .projectInfo p:nth-last-child(2), .linedList li, nav, blockquote, #formField, #content #heroNav ul li, #footerLinks li, #heroNav, .contentModule, .eight:nth-child(4n) .contentModule:last-child, .eight:nth-of-type(1) .contentModule:last-child { border-color: #bbd2ce; }
#overview h3 { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
.projectThumbnailHover { background-color: rgba(134, 179, 177, 0.95); }
.projectThumbnailHover h4 { color: #ffffff; text-shadow: none; }
.projectThumbnailHover h5 { color: #ffffff; text-shadow: none; }
.projectInfo h4 { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
.projectNav { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
.projectNavClose button, .projectNavButtons button, .projectNavEnlarge button, .projectNavCounter, #formSubmit, #formField { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
.projectNav button:hover, .projectNav button:active, .projectNav button:focus { color: #777777; }
.projectNavInactive, button.projectNavInactive, button.projectNavInactive:hover, button.projectNavInactive:active { color: #bbbbbb !important; }
p, li, .projectInfo p, .projectInfo li, blockquote, blockquote p, blockquote cite { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
p strong, .projectInfo strong, li strong { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
footer p { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
footer a { color: #729897; text-shadow: 1px 1px 1px #ffffff; }
h1, h2, h3, h4, h5, h6, #faq p:first-child, .contentModule a, .contentModule a:visited { color: #484846; text-shadow: 1px 1px 1px #ffffff; }
#heroNav a, #heroNav a:visited { color: #729897; }
a, a:visited { color: #729897; }
a:hover, a:active, a:focus { color: #506b6a; }
#formField { background: #f6f7f3; }
#formField:focus { background: #ffffff; }