/*
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
*/

/*===================================================================================================
Contents
=====================================================================================================
	1) @font-face definitions
	2) Styles
	3) Positioning adjustments
	4) Media query adjustments
*/

/*===================================================================================================
1) @font-face definitions
===================================================================================================*/

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../../fonts/ChunkFive/Chunkfive-webfont.eot');
	src: url('../../fonts/ChunkFive/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/ChunkFive/Chunkfive-webfont.woff') format('woff'),
	url('../../fonts/ChunkFive/Chunkfive-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*===================================================================================================
2) Styles
===================================================================================================*/

#logo h1, #logoDetailView h1 {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 26px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

#logo h2, #logoDetailView h2 {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

nav ul li a, nav ul li button, nav ul li span, #detailViewBack a {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 11px;
	line-height: 1.5;
	letter-spacing: 0.11em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

#overview h3 {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: optimizeLegibility;
}

.projectThumbnailHover h4 {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectThumbnailHover h5 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectInfo h4 {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectNavCounter {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectNavButtons button {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

.projectNavClose button, .projectNavEnlarge button {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

p, li, .projectInfo p, .projectInfo li {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

footer p {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

blockquote, blockquote p {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: italic;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

blockquote cite {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
}

#heroNav a {
	font-family: "ChunkFiveRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: underline;
	text-transform: none;
	text-rendering: auto;
}

#formField {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

#formSubmit {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.09em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

/*===================================================================================================
3) Positioning adjustments
===================================================================================================*/

#logo h2, #logoDetailView h2 {
	margin-top: -21px;
	padding-left: 1px;
}

nav {
	padding-top: 29px;
	margin-bottom: -30px;
}

nav ul li {
	padding-left: 26px;
}

#overview {
	padding-bottom: 10px;	
}

#overview h3 {
	margin-top: -5px;
	margin-bottom: 20px;
}

.projectThumbnailHover h4 {
	margin-top: 40px;
}

.projectThumbnailHover h5 {
	padding-top: 61px;
}

.projectInfo h4 {
	padding-top: 13px;
	padding-bottom: 8px;
}

.projectNavCounter {
	padding-top: 15px;
}

.projectNavClose, .projectNavEnlarge {
	padding-top: 6px;
	padding-top: 7px\9; /* IE adjustment */
}

.projectNavButtons {
	padding-top: 6px;
	padding-top: 7px\9; /* IE adjustment */
}

/* Tweak positioning slightly in Firefox */
@-moz-document url-prefix() {
  .projectNavEnlarge, .projectNavClose, .projectNavButtons {
		padding-top: 7px;
	}
}

.projectInfo ul {
	margin-top: -8px;
	margin-bottom: 7px;
}

.projectInfo p + ul {
	margin-top: -20px;
}

.projectInfo li, .linedList li {
	border-top: 1px solid #ddd;
	margin-top: 6px;
	margin-bottom: -1px;
	padding-top: 6px;
	padding-bottom: 0px;
}

.projectInfo li:last-child {
	margin-bottom: -2px;
}

.linedList {
	padding-bottom: 7px;
}


/*===================================================================================================
4) Media query adjustments
===================================================================================================*/
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		nav ul li a, nav ul li button, nav ul li span, #detailViewBack {
			font-size: 12px;
		}
		
		nav {
			padding-top: 29px;
		}
		
	}

	/* Tablet portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.projectThumbnailHover h4 {
			font-size: 14px;
		}
		
		.projectThumbnailHover h5 {
			font-size: 11px;
			padding-top: 57px;
		}
		
	}

	/* All mobile sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		#logo h1, #logoDetailView h1 {
			line-height: 1.1;
		}
		
		#logo h2, #logoDetailView h2 {
			margin-top: -12px;
		}
		
		header {
			padding-top: 40px;
		}
		
		nav {
			padding-top: 9px;
			margin-bottom: -10px;
		}
		
		#overview {
			padding-bottom: 0px;
		}
		
		#overview h3 {
			font-size: 30px;
		}
		
		footer p {
			font-size: 14px;
		}
		
	}

	/* Mobile landscape size to tablet portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		
		
	}

	/* Mobile portrait size to mobile landscape size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#logo h1, #logoDetailView h1 {
			font-size: 22px;
		}
		
		#logo h2, #logoDetailView h2 {
			font-size: 14px;
			margin-top: -12px;
		}
		
		#overview h3 {
			font-size: 20px;
		}
		
		.projectThumbnailHover h4 {
			font-size: 14px;
		}
		
		.projectThumbnailHover h5 {
			font-size: 11px;
			padding-top: 55px;
		}
		
	}