/*
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
*/

/*===================================================================================================
Contents
=====================================================================================================
	1) @font-face definitions
	2) Styles
	3) Positioning adjustments
	4) Media query adjustments
*/

/*===================================================================================================
1) @font-face definitions
===================================================================================================*/
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium WebThin'), local('TitilliumWeb-Thin'), url(../../fonts/TitilliumWeb/TitilliumWeb-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../../fonts/TitilliumWeb/TitilliumWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(../../fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(../../fonts/TitilliumWeb/TitilliumWeb-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium WebItalic'), local('TitilliumWeb-Italic'), url(../../fonts/TitilliumWeb/TitilliumWeb-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: local('Titillium WebBold Italic'), local('TitilliumWeb-BoldItalic'), url(../../fonts/TitilliumWeb/TitilliumWeb-BoldItalic.woff) format('woff');
}

/*===================================================================================================
2) Styles
===================================================================================================*/

#logo h1, #logoDetailView h1 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 700;
    font-style: normal;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

#logo h2, #logoDetailView h2 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 400;
    font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

nav ul li a, nav ul li button, nav ul li span, #detailViewBack a {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.09em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

#overview h3 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 200;
    font-style: normal;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-decoration: none;
	text-transform: none;
	text-rendering: optimizeLegibility;
}

.projectThumbnailHover h4 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectThumbnailHover h5 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 400;
    font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectInfo h4 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectNavCounter {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 400;
    font-style: normal;
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

.projectNavButtons button {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

.projectNavClose button, .projectNavEnlarge button {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

p, li, .projectInfo p, .projectInfo li {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

footer p, #footerLinks li {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

blockquote, blockquote p {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: normal;
    font-style: italic;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

blockquote cite {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
	letter-spacing: -0.02em;
	text-transform: none;
}

#heroNav a {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: underline;
	text-transform: none;
	text-rendering: auto;
}

#formField {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
}

#formSubmit {
	font-family: "Titillium Web", Arial, sans-serif;
	font-weight: 600;
    font-style: normal;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 0.09em;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: auto;
}

/*===================================================================================================
3) Positioning adjustments
===================================================================================================*/

#logo h2, #logoDetailView h2 {
	margin-top: -20px;
	padding-left: 2px;
}

nav {
	padding-top: 37px;
	margin-bottom: -30px;
}

nav ul li {
	padding-left: 26px;
}

#overview {
	padding-bottom: 10px;	
}

#overview h3 {
	margin-top: -5px;
	margin-bottom: 24px;
}

.projectThumbnailHover h4 {
	margin-top: 40px;
}

.projectThumbnailHover h5 {
	padding-top: 67px;
}

.projectInfo h4 {
	padding-top: 10px;
	padding-bottom: 6px;
}

.projectNavCounter {
	padding-top: 13px;
}

.projectNavClose, .projectNavEnlarge {
	padding-top: 4px;
	padding-top: 6px\9; /* IE adjustment */
}

.projectNavButtons {
	padding-top: 4px;
	padding-top: 6px\9; /* IE adjustment */
}

/* Tweak positioning slightly in Firefox */
@-moz-document url-prefix() {
  .projectNavEnlarge, .projectNavClose, .projectNavButtons {
		padding-top: 7px;
	}
}

.projectInfo ul {
	margin-top: -8px;
	margin-bottom: 7px;
}

.projectInfo p + ul {
	margin-top: -20px;
}

.projectInfo li, .linedList li {
	border-top: 1px solid #ddd;
	margin-top: 8px;
	margin-bottom: -2px;
	padding-top: 6px;
	padding-bottom: 0px;
}

@-moz-document url-prefix() {
	.projectInfo li, .linedList li {
		margin-bottom: -1px;
	}
}

.projectInfo li:last-child {
	margin-bottom: -1px;
}

.linedList {
	padding-bottom: 7px;
}


/*===================================================================================================
4) Media query adjustments
===================================================================================================*/
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		nav ul li a, nav ul li button, nav ul li span, #detailViewBack {
			font-size: 12px;
		}
		
		nav {
			padding-top: 37px;
		}
		
	}

	/* Tablet portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.projectThumbnailHover h4 {
			font-size: 20px;
		}
		
		.projectThumbnailHover h5 {
			font-size: 13px;
			padding-top: 63px;
		}
		
	}

	/* All mobile sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		#logo h1, #logoDetailView h1 {
			line-height: 1.1;
		}
		
		#logo h2, #logoDetailView h2 {
			margin-top: -12px;
		}
		
		header {
			padding-top: 40px;
		}
		
		nav {
			padding-top: 9px;
			margin-bottom: -12px;
		}
		
		#overview {
			padding-bottom: 0px;
		}
		
		#overview h3 {
			font-size: 24px;
		}
		
		footer p {
			font-size: 14px;
		}
		
	}

	/* Mobile landscape size to tablet portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		
		
	}

	/* Mobile portrait size to mobile landscape size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#logo h1, #logoDetailView h1 {
			font-size: 26px;
		}
		
		#logo h2, #logoDetailView h2 {
			font-size: 14px;
			margin-top: -12px;
		}
		
		#overview h3 {
			font-size: 24px;	
		}
		
		.projectThumbnailHover h4 {
			font-size: 16px;
		}
		
		.projectThumbnailHover h5 {
			font-size: 13px;
			padding-top: 59px;
		}
		
	}