
.icon-cloud:before { content: '\e807'; } /* '' */
.icon-chevron-left:before { content: '\e805'; } /* '' */
.icon-chevron-right:before { content: '\e804'; } /* '' */
.icon-text-height:before { content: '\e806'; } /* '' */
.icon-reorder:before { content: '\e808'; } /* '' */
.icon-angle-double-left:before { content: '\e802'; } /* '' */
.icon-angle-double-right:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\e800'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-bookmark:before { content: '\e809'; } /* '' */