@charset "UTF-8";

// ==========================================================================//
//
// $Variables
//
// ==========================================================================//

// $Color
// -------------------------------------//

$background-dark-color: #3e404a !default;
$light-color: #fff !default;
$bright-color: #82bf4c;
$box-shadow-color: #888;
$border-dark-color: #3a3c47;