/*-- CSS for this title only --*/

span.fineprint {
	font-size:65%; 
	font-family:Verdana, sans-serif !important; 
	text-align:right; }

body.cover {
	padding:0; 
	margin:0; }

img { max-width: 100%;  }

h1, h2, h3, h4, h5, h6 { text-align:center; }

p { text-align: left; 
	text-indent: 0;
	margin-bottom: 1em;
	line-height: 1.35em; }

h3 { 
	font-weight:normal;
	line-height: 1.5em; }
	
a:link { 
	color: #000;
	border-bottom: 1px dotted #000;
	text-decoration:none; }

a:visited { 
	color: #000;
	border-bottom: 1px dotted #00;
	text-decoration:none; }
	
sup a:link {
	border-bottom:0px; }		

sup a:visited {
	border-bottom:0px; }	

img.twittericon {
	margin-bottom:-4px; 
	height:.9em; 
	max-height:20px; }		

div.center { text-align:center; }

div.center p {
	text-align:center; }	

div.credit { 
	margin-top:1em;
	text-align:center;
	color:#777; }

div.credit a:link { 
	color:#777; }
	
div.credit a:visited { 
	color:#777; }	

		

div.spacer {
	margin-top:4em; }	
	
div.beyond {
	font-size:70%; 
	font-family:Verdana, sans-serif; 
	margin-left:5%;
	margin-right:5%; }
	
div.beyond p { 
	text-align: left; 
	text-indent: 0;
	line-height:1.25em;
	margin-bottom: 1em;}

div.header { 
	text-align:center;
	margin-top:60px; 
	margin-bottom:60px; }
	
div.sectionheader { 
	text-align:center;
	margin-top:200px; }
	
div.sectionheader h1 {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 5em;
	margin-bottom: 1.5em; }	

div.sectionheader h1.two {
	margin-bottom: .5em; }	

div.sectionheader h1.three {
	margin-bottom: .5em; 
	text-shadow: 4px 4px #fff000; }		
	
h2 { 	
	font-size: 1.75em; }	
	
h2.two {
	margin-bottom: .3em; }				
	
div.regularimage { 
	text-align:center; 
	display:block;
	padding-bottom: 20px; 
	line-height: 1em; 
	width:96%; 
	margin-left:2%;
	margin-right:2%; 
	font-family:Verdana, sans-serif; }	

div.regularimage img {
	margin-bottom:.5em; }		

div.logofooter { 
	text-align:center; 
	display:block;
	line-height: 1.25em;
	margin-top:6em; }	

div.logofooter a:link {
	color:#f05a94;
	border-bottom: 1px dotted #f05a94;
	text-decoration:none; }
	
div.logofooter a:visited {
	color:#f05a94;
	border-bottom: 1px dotted #f05a94;
	text-decoration:none; }
				

span.pink { 
	color:#f05a94; }

span.highlight {
	background-color: #fff000; }

span.strike { 
	text-decoration:line-through; }	
	
span.underline {
	border-bottom: 1px solid #000;
	text-decoration:none; }	
	
span.subhead { 
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:70%; }			

	

/*-- Document created by Hol Art Books, 2011 --*/	