@charset "UTF-8";

// ==========================================================================//
//
// $Variables
//
// ==========================================================================//

// $Color
// -------------------------------------//

$header-color: #E6E7E8 !default;
$dropdown-color: #444 !default;
$light-color: #fff !default;
$dark-color: #000 !default;
$link-unvisited: $light-color !default;
$link-visited: #bbb !default;

$online-color: #56A2D3 !default;
$offline-color: #BCBEC0 !default;
